@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
   --background-main: #333e52;
}

body,
.pm_opensans {
  font-family: 'Roboto', sans-serif;
}

.sidebarApp-container,
.headerSecuredDesktop-logo,
.headerSecured-container {
  background-color: var(--background-main);
}
